.footer{
  padding: 56px 0;
  background: $color1;
  @include sp{
    margin-bottom: 42px;
  }
  &-inner{
    max-width: 1000px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
    @include flex(center,center,0,0,1);
    &__logo{
      padding-bottom: 24px;
    }
    &__sns{
      width: 90px;
      @include flex(between,center);
      i{
        color: $color2;
        font-size: 2.4rem;
      }
    }
  }
  .copyright{
    width: auto;
    @include absoluteCenter;
    position: fixed;
    left: 16px;
    @include xl{
      left: 8px;
    }
    @include md{
      position: inherit;
      text-align: center;
      padding-top: 16px;
      transform: none;
    }
    p{
      letter-spacing: 0.1em;
      font-size: 1.2rem;
      @extend .copy;
      -ms-writing-mode: tb-rl;
      -webkit-writing-mode: vertical-rl;
      -o-writing-mode: vertical-rl;
      writing-mode: vertical-rl;
      transform: rotate(-180deg);
      @include md{
        font-size: 1.0rem;
        color: $color2;
        writing-mode: inherit;
        -ms-writing-mode: inherit;
        -webkit-writing-mode: inherit;
        -o-writing-mode: inherit;
        transform: none;
      }
    }
  }
}
