.shoplist {
	@include flex(between, center);
	@include lg {
		@include flex(center, center, 0, 0, 1);
	}
	&-inner {
		max-width: 1000px;
		width: 100%;
		@include flex(between, center);
		@include xl {
			@include flex(around, center);
		}
		@include lg {
			padding-left: 0;
			@include flex(center, center, 0, 0, 1);
		}
		&__slide {
			.shopslides {
				max-width: 524px;
				width: 100%;
				margin: 0 !important;
				@include xl {
					max-width: 440px;
				}
				@include sp {
					max-width: 375px;
				}
				@include xs {
					max-width: 320px;
				}
				.slick-prev {
					z-index: 3;
					left: 0;
					@include sp {
						left: 16px;
					}
					&::before {
						content: "";
						width: 24px;
						height: 40px;
						display: block;
						background-image: url(../svg/index/index-gallery-left.svg);
						background-repeat: no-repeat;
						background-size: cover;
						@include sp {
							width: 16px;
							height: 24px;
							margin: 0 auto;
							background-size: contain;
						}
					}
				}
				.slick-next {
					right: 0;
					@include sp {
						right: 16px;
					}
					&::before {
						content: "";
						width: 24px;
						height: 40px;
						display: block;
						background-image: url(../svg/index/index-gallery-right.svg);
						background-repeat: no-repeat;
						background-size: cover;
						@include sp {
							width: 16px;
							height: 24px;
							margin: 0 auto;
							background-size: contain;
						}
					}
				}
				.slick-arrow {
					width: 24px;
					height: 40px;
				}
				li {
					@include flex(center, center);
					@include xl {
						padding: 0 32px;
					}
					@include sp {
						padding: 0 40px;
					}
					@include xs {
						padding: 0 48px;
						max-width: 320px;
					}
					img {
						margin: 0 auto;
						position: relative;
						border: solid 10px $color5;
						border-radius: 100%;
						@include sp {
							border: solid 5px $color5;
						}
					}
				}
				.slick-dots {
					max-width: 140px;
					@include flex(between, center);
					@include absoluteCenterX;
					top: auto;
					bottom: 48px;
					.slick-active {
						button {
							&::before {
								color: $color1;
							}
						}
					}
					li {
						width: 8px;
						height: 8px;
						margin: 0;
						padding: 0;
						button {
							width: 8px;
							height: 8px;
							&::before {
								width: 8px;
								height: 8px;
								line-height: 1em;
								color: $color2;
								opacity: 0.8;
							}
						}
					}
				}
			}
		}
		&__text {
			@include lg {
				padding-top: 32px;
			}
			@include sp {
				width: 100%;
			}
			h3 {
				@include sm {
					text-align: center;
				}
			}
			.shop {
				&-address {
					max-width: 280px;
					width: 100%;
					padding: 32px 0 24px 0;
					@include sp {
						max-width: 100%;
					}
					@include xs {
						max-width: 256px;
					}
				}
				&-contact {
					@include flex(start, center);
					@include xs {
						@include flex(start, center, 0, 0, 0);
					}
					&__tel {
						@include xs {
							width: auto;
							flex-shrink: 0;
							margin-right: 24px;
						}
					}
					&__fax {
						padding-left: 32px;
						@include xs {
							padding: 0;
							width: 100%;
						}
					}
				}
				&-link {
					@include flex(start, center);
					padding-top: 32px;
					@include sp {
						padding: 32px 16px 0 16px;
					}
					&__map,
					&__pdf {
						max-width: 197px;
						width: 100%;
						height: 42px;
						a {
							width: 100%;
							height: 100%;
							@include flex(center, center);
							p {
								@extend .btn-text;
								font-size: 1.8rem;
								letter-spacing: 0.12em;
								line-height: 1em;
								color: $color2;
								@include sp {
									font-size: 1.4rem;
									letter-spacing: 0.07em;
								}
							}
						}
					}
					&__map {
						background: $color3;
						margin-right: 32px;
					}
					&__pdf {
						background: $color5;
					}
				}
			}
		}
	}
}
