main#index{
  .section{
    &-inner{
      .pickup{
        @include flex(between,start);
        @include lg{
          @include flex(center,center,0,0,1);
        }
        @include sm{
          padding-bottom: 56px;
        }
        &-list{
          max-width: 1014px;
          width: 100%;
          @include flex(between,center);
          padding: 0 30px;
          @include xl{
            max-width: 1000px;
          }
          @include lg{
            padding: 0;
            max-width: 800px;
            width: 100%;
          }
          @include sp{
            @include flex(center,center,0,0,1);
          }
          li{
            max-width: 280px;
            width: 100%;
            @include xl{
              max-width: 240px;
            }
            @include sp{
              max-width: 100%;
            }
            h3{
              line-height: 1em;
              padding: 16px 0;
              span{
                width: 100%;
                display: inline-block;
                font-size: 1.4rem;
                letter-spacing: 0.07em;
                line-height: 1em;
                color: $color5;
                @extend.text;
              }
            }
            .pick-img{
              @include flex(center,center);
              max-width: 280px;
              width: 100%;
              height: 280px;
              border-radius: 100%;
              overflow: hidden;
              margin: 0 auto;
              position: relative;
              z-index: 1;
              &:hover{
                border-radius: 100%;
              }
              @include xl{
                height: 240px;
              }
              @include sm{
                width: 156px;
                height: 156px;
              }
              @include sp{
                width: 280px;
                height: 280px;
              }
              img{
                width: 100%;
                border-radius: 100%;
                height: 100%;
                object-fit: cover;
                transition: 1s all;
                -webkit-transition: -webkit-transform 1s;
              }
              img:hover{
                transform: scale(1.2,1.2);
                -webkit-transform: scale(1.2,1.2);
                transition: 1s all;
                -webkit-transition: -webkit-transform 1s;
              }
            }
            .pick-inner{
              p{
                font-size: 1.4rem;
              }
            }
            .page-link{
              padding-top: 24px;
            }
          }
          li:nth-child(2){
            margin: 0 24px;
            @include sm{
              margin: 0 16px;
            }
            @include sp{
              padding: 56px 0;
            }
          }
        }
      }
      .topfarms{
        &-list{
          @include flex(between,0,0);
          @include lg{
            max-width: 800px;
            margin: 0 auto;
          }
          @include sp{
            @include flex(between,0,wrap);
          }
          li{
            max-width: 354px;
            width: 100%;
            &:nth-child(n+1):nth-child(-n+2){
              @include sp{
                margin: 0;
              }
            }
            @include xl{
              max-width: cala(100% / 3);
              width: 100%;
            }
            @include sp{
              max-width: calc(50% - 8px);
              margin-top: 16px;
            }
            .topfarms-image{
              width: 100%;
              overflow:hidden;
              @include xs{
                height: 116px;
              }
              img{
                width: 100%;
                transition:1s all;
              }
              img:hover{
                transform:scale(1.2,1.2);
                transition:1s all;
              }
            }
            .topfarms-title{
              padding-top: 16px;
              @include lines-truncate-2;
            }
            .topfarms-product{
              padding-top: 16px;
              letter-spacing: 0.08em;
              font-size: 1.4rem;
              line-height: 1em;
              color: $color4;
              @include sp{
                padding-bottom: 8px;
                font-size: 1.2rem;
              }
            }
          }
          li:nth-child(2){
            margin: 0 32px;
            @include sm{
              margin: 0 24px;
            }
            @include sp{
              margin: 0;
            }
          }
        }
      }
    }
  }
}
