.main-visual {
	padding-top: 164px;
	&__inner {
		.mask {
			video {
				max-width: 100%;
				width: 100%;
				outline: none;
				border: none;
				filter: drop-shadow(0px 0px rgba(0, 0, 0, 0));
			}
		}
	}
	.mv-under {
		position: relative;
		img {
			width: 100%;
		}
		.about-submv {
			width: 100%;
			height: 272px;
			background: $color7;
			.page-title {
				color: $color1;
				span {
					@extend .sab-title;
					font-weight: 400;
					color: $color1;
				}
			}
			@include sm {
				height: 240px;
			}
			@include sp {
				height: 132px;
			}
		}
	}
}
