#company{
  .company-list{
    @include flex(between,0);
    @include sm{
      display: block;
    }
    &__left,&__right{
      width: 100%;
      max-width: 536px;
      @include xl{
        max-width: calc(50% - 8px);
      }
      @include md{
        max-width: 536px;
      }
      @include sm{
        margin: 0 auto;
      }
      dl{
        @include flex;
        width: 100%;
        max-width: 536px;
        padding: 16px 32px;
        border-bottom: 1px dotted $color3;
        @include xl{
          padding: 16px;
        }
      }
      dt{
        flex-shrink: 0;
      }
      dd{
        padding-left: 24px;
      }
    }
  }
  .othercompany-list{ //フルーツファクトリー、店舗
    padding-top: 56px;
    &__right{
      width: 100%;
      @include md{
        max-width: 536px;
      }
      @include sm{
        margin: 0 auto;
      }
      .commentary-title{
        padding: 16px 32px;
        background-color: $color7;
        border-radius: 5px;
        @include sp{
          padding: 16px 16px;
        }
      }
      dl{
        @include flex();
        width: 100%;
        padding: 16px 32px;
        border-bottom: 1px dotted $color3;
        @include xl{
          padding: 16px;
        }
      }
      dt{
        flex-shrink: 0;
      }
      dd{
        padding-left: 24px;
      }
    }
    &__left{
      @include sm{
        padding-bottom: 40px;
      }
    }
  }
}
